*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg,#050f3c,#b0d4ed);
    display: flex;
    align-items: center;
    justify-content: center;

}

.inpbox{
    height: 50px;
    width: 100%;
    max-width: 350px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
    padding: 10px 20px;
    
    
}
.inpbox input{
    
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 18px;

}
.inpbox img{
    width: 28px;
    cursor: pointer;
}