*{
    margin: 0%;
    padding: 0%;
}

.backgr{
    background:linear-gradient(45deg,#e6d9ef,#998097);
    height:100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    
}
.cal{
    width: 400px;
    height: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.left,.right{
    font-size: 38px;
    height: 100%;
    width: 50%;
    align-items: center;
    color: #ffffff;
    justify-content: center;
    display:flex;
    flex-direction: column;
}
.right{
    background-color: #57305a;
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    

}
.left{
    background-color: #192a51;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#date{
    font-size: 120px;
    
}
/* child selector selects only that child */
.backgr>.tex{
    padding-top: 30px;
    
    color: rgb(27, 25, 47);
    font-weight:300;
    font-size:xx-large;

}