*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body{
    height: 100vh;
    background:linear-gradient(to bottom,#fadcd5,#765c67);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.selector{
    width: 500px;
    color: white;
    
}

#items{
    background:#2d222f;
    border-radius: 20px;
    color: white;
    display: flex;
    padding: 15px;
    align-items: center;
    font-size: larger;
    justify-content: space-between;
    cursor: pointer;
}

.lis{
    list-style-type: none;
    background:#2d222f;
    border-radius: 20px;
    margin-top: 20px;
    padding:10px;
    display: none;
    
}

.selector ul li{
    flex-direction: row;
    display: flex;
    padding: 5px;
}

.selector ul li:hover{
    background-color: #765c67;
    border-radius: 20px;
}
