*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}



.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,#14213d,black);
    color: #fca311;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;

}
.cal{
    background:rgb(255, 255, 255);
    border-radius: 20px;
    width:40%;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #fca311;

    
}
.container p{
    margin-top: 20px;
    font-size: 20px;
}

.input{
    margin-top: 20px;
    display:flexbox;
}

.input input{
    flex:1;
    border: 0;
    margin: 0;
    width: 250px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    background-color: grey;
    text-align: center;

}   
.input button{
    width: 100px;
    height: 40px;
    background-color: #fca311;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;

}


.input input::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-size:25px;
    background-position-y: 50%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    width:auto;
    height: auto;
    position: absolute;
}

.input button:hover{
    background-color: white;
    border: 3px solid #fca311;
}