*{
    padding: 0%;
    margin: 0%;
    font-family: monospace;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom,#06141b,#11212d);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.block{
    height:auto;
    width: 35%;
    background: linear-gradient(to bottom,#9ba8ab,#ccd0cf);
    color:#253745;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
    flex-direction: column;

}

.block .btn button{
    height: 32px;
    width: 150px;
    margin: 20px;
    cursor: pointer;
    background-color: #11212d;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
}
.block .btn button:hover{
    background-color: white;
    color: #11212d;
    border: 3px solid #11212d;  
    font-weight: 600;
}

.input_get{
    display: flex;
    flex-direction: column;

}
.input_get .input-row {
    margin: 7px 0;
    display: flex;
    gap: 30px;
    align-items: center;
}



.input_get input{
    height: 32px;
    width: 150px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px;
    
}
#gpa_res{
    font-size: 25px;
}
#quote{
    font-size:20px;
    text-align: center;
}
