*{
    padding: 0%;
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.base{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(69, 67, 67);
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

#left, #right{
    border:2px solid white;
    width: 300px;
    min-height: 400px;
    margin:20px;
}

.list{
    height: 60px;
    margin: 30px;
    display: flex;
    background-color: crimson;
    cursor: grab;
    align-items: center;
    justify-content: center;
}