*{
    padding: 0%;
    margin:0%;
    font-family: monospace;
    box-sizing:content-box;
}
body{
    background-color: #222222;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.btn button{
    height: 30px;
    width: 100px;
    margin: 20px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    
}

.btn button:hover{
    background-color:#4B4E6D;
    color: white;
    transition: 0.8s; 
}

#toastbox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast{
    width: 400px;
    height: 50px;
    background-color: white;
    font-weight: 500;
    margin: 15px 0;
    position: relative;
    display: flex;
    align-items: center;
}

.toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: green;
    animation: anim 5s linear forwards;

}
@keyframes anim{
    100%{
        width: 0;
    }
}


.toast.Error::after{
    background-color: red;
}
.toast.Invalid::after{
    background-color:yellow;
}
