*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    width: 100%;
    background:linear-gradient(45deg,#e6d9ef,#998097);
    display: flex;
    align-items: center;
    justify-content: center
}

.outer{
    width:500px;
    background: white;
    border-radius: 20px;
    min-height:200px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    row-gap: 20px;

}
.outer h2{
    color: black;
    font-weight: 100;
    font-size: 25px;
    
    
}
.outer input{

    height: 35px;
    width: 300px;
    font-size: 20px;
    font-weight: 100;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 8px;
    border: 2px solid rgb(40, 39, 39);
}

.outer button{
    cursor: pointer;
    background-color:#192a51;
    color: white;
    height: 35px;
    width: 300px;
    font-size: 20px;
    font-weight: 100;
    border: none;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.outer button:hover{
    background-color: white;
    border: 3px solid #192a51;
    color: #192a51;

}

#box{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

