*{
    padding: 0%;
    margin: 0%;
    box-sizing:border-box;
    font-family: monospace;
}

body{
    background-color: rgb(8, 40, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    height: 35px;
    width: 200px;
    background:white;
    border-radius: 20px;
    border: 3px solid orange;
    font-size: 18px;
    cursor: pointer;
    
}

.popup button{
    background-color: #3fc234;
    font-size: 18px;
    cursor: pointer;
    height: 35px;
    width: 200px;
    border:none;
    border-radius: 20px;
    margin-bottom: 10px;
    

}

.popup img{
    border-radius:50%;
    height: 80px;
    width: 80px;
    position: relative;
    top: -40px;
}

.popup{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
    width: 300px;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    display: none;
   

}
.popup h2{
    position: relative;
    top: -20px;
    
    font-size: 50px;
}
.popup p{
    
    padding: 0px 0 20px 0px;
    font-size: 15px;
}